<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
		  <div class="pull-left navbar-text">Version 1.0.2</div>
      <div class="pull-right">
        <a class="btn btn-inverse" href="/help/Search_1.0.1.html"><i class="icon-flag icon-white"></i> Help</a>
        <a class="btn btn-inverse" target="_blank" href="https://docs.google.com/spreadsheet/viewform?formkey=dFZKYUowczhqM0pwMm1YUnBsRzRocXc6MA"><i class="icon-warning-sign icon-white"></i> Report Issue</a>
        <a class="btn btn-inverse" target="_blank" href="http://asn.jesandco.org/resources/ASNJurisdiction/CCSS"><i class="icon-info-sign icon-white"></i> CCSS Web</a>
      </div>
  	</div>
  </div>
</div>