<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
		  <div class="pull-left navbar-text">LRMI Version 1.0.1</div>
      <div class="pull-right">
        <a class="btn btn-inverse" target="_blank" href="https://docs.google.com/spreadsheet/embeddedform?formkey=dEV0N3BMTy02ejFnX1d2eXRibFpDTnc6MQ"><i class="icon-warning-sign icon-white"></i> Report Issue</a>
        <a class="btn btn-inverse" target="_blank" href="http://asn.jesandco.org/resources/ASNJurisdiction/CCSS"><i class="icon-info-sign icon-white"></i> CCSS Web</a>
      </div>
  	</div>
  </div>
</div>