<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
		  <div class="pull-left navbar-text">Version 1.2</div>
      <div class="pull-right">
        <a class="btn btn-inverse" href="/help/index.html"><i class="icon-flag icon-white"></i> Help</a>
        <a href="#" class="btn btn-inverse" class="btn btn-inverse"
          onclick="if(confirm('You are now going to the inBloom support website. You\'ll need to register in order to provide a bug or feature report. Registration is free. Click OK to go to http://support.inbloom.org')) { window.location='http://support.inbloom.org';}">
            <i class="icon-warning-sign icon-white"></i> Report Issue
        </a>
        <a class="btn btn-inverse" target="_blank" href="http://www.corestandards.org/"><i class="icon-info-sign icon-white"></i> CCSS Web</a>
      </div>
  	</div>
  </div>
</div>