<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
		<div class="pull-left">
			<div class="pull-right" style="margin-top:10px;">LRMI Version 1.0.0</div>
		</div>
		<div class="pull-right">
			<a class="btn btn-inverse" target="_blank" href="https://docs.google.com/spreadsheet/embeddedform?formkey=dEV0N3BMTy02ejFnX1d2eXRibFpDTnc6MQ"><i class="icon-flag icon-white"></i>  Provide Feedback</span></a>
			<a class="btn btn-inverse" target="_blank" href="http://asn.jesandco.org/resources/ASNJurisdiction/CCSS"><i class="icon-info-sign icon-white"></i>  CCSS Web</span></a>			
		</div>	
	</div>
  </div>
</div>