<%= render :partial => 'home/slc/header' %>

<div class='container-fluid'>
  <%= render :partial => 'navbar' %>

  <table class="table" style="border:0px;" id="searchBody">
    <tr class="warning">
      <td class='left-column'>
        <div id="resultStats">
          &nbsp;
        </div>
      </td>
      <td class='main-column'>
        <input type="text" name="searchInput" id="searchInput" placeholder="Query...">
        <button class="btn" onClick="window.resultsStart = 0;displaySearchResults()">Search</button>
      </td>
    </tr>
  </table>

  <ul id='filterFields' class='nav nav-tabs nav-stacked' role='menu'>
    <li>
      <a href="#" rel='popovers' data-original-title='Intended End User Role'>Intended End User Role <i class="icon-chevron-right icon-white pull-right"></i></a>
      <div class='flyout'>
        <div class='items'>
          <label class='checkbox'><input type='checkbox'>Administrator</label>
          <label class='checkbox'><input type='checkbox'>Mentor</label>
          <label class='checkbox'><input type='checkbox'>Parent</label>
          <label class='checkbox'><input type='checkbox'>Peer Tutor</label>
          <label class='checkbox'><input type='checkbox'>Specialist</label>
          <label class='checkbox'><input type='checkbox'>Student</label>
          <label class='checkbox'><input type='checkbox'>Teacher</label>
          <label class='checkbox'><input type='checkbox'>Team</label>
        </div>
      </div>
    </li>
    <span id="endUserFilters">
      <a href="#" class='filter'><i class="icon-ban-circle icon-white"></i> Filter</a>
      <a href="#" class='filter'><i class="icon-ban-circle icon-white"></i> Filter</a>
      <a href="#" class='filter'><i class="icon-ban-circle icon-white"></i> Filter</a>
    </span>

    <li>
      <a href="#" rel='popovers' data-original-title='Typical Age Range'>Typical Age Range <i class="icon-chevron-right icon-white pull-right"></i></a>
      <div class='flyout'>
        <div class='items'>
          <label class='checkbox'><input type='checkbox'>0-2</label>
          <label class='checkbox'><input type='checkbox'>3-5</label>
          <label class='checkbox'><input type='checkbox'>5-8</label>
          <label class='checkbox'><input type='checkbox'>8-10</label>
          <label class='checkbox'><input type='checkbox'>10-12</label>
          <label class='checkbox'><input type='checkbox'>12-14</label>
          <label class='checkbox'><input type='checkbox'>14-16</label>
          <label class='checkbox'><input type='checkbox'>16-18</label>
          <label class='checkbox'><input type='checkbox'>18+</label>
        </div>
      </div>
    </li>
    <span id="">
    </span>

    <li>
      <a href="#" rel='popovers' data-original-title='Educational Use'>Educational Use <i class="icon-chevron-right icon-white pull-right"></i></a>
      <div class='flyout'>
        <div class='items span6'>
          <div class='row'>
            <div class='span2'>
              <label class='checkbox'><input type='checkbox'>Activity</label>
              <label class='checkbox'><input type='checkbox'>Analogies</label>
              <label class='checkbox'><input type='checkbox'>Assessment</label>
              <label class='checkbox'><input type='checkbox'>Auditory</label>
              <label class='checkbox'><input type='checkbox'>Brainstorming</label>
              <label class='checkbox'><input type='checkbox'>Classifying</label>
              <label class='checkbox'><input type='checkbox'>Comparing</label>
              <label class='checkbox'><input type='checkbox'>Cooperative Learning</label>
              <label class='checkbox'><input type='checkbox'>Creative Response</label>
              <label class='checkbox'><input type='checkbox'>Demonstration</label>
              <label class='checkbox'><input type='checkbox'>Differentiation </label>
              <label class='checkbox'><input type='checkbox'>Discovery Learning</label>
              <label class='checkbox'><input type='checkbox'>Discussion/Debate</label>
              <label class='checkbox'><input type='checkbox'>Drill & Practice</label>
              <label class='checkbox'><input type='checkbox'>Experiential</label>
              <label class='checkbox'><input type='checkbox'>Field Trip</label>
              <label class='checkbox'><input type='checkbox'>Game</label>
              <label class='checkbox'><input type='checkbox'>Generating hypotheses</label>
              <label class='checkbox'><input type='checkbox'>Guided questions </label>
              <label class='checkbox'><input type='checkbox'>Hands-on</label>
            </div>
            <div class='span2'>
              <label class='checkbox'><input type='checkbox'>Homework</label>
              <label class='checkbox'><input type='checkbox'>Identify similarities & differences</label>
              <label class='checkbox'><input type='checkbox'>Inquiry</label>
              <label class='checkbox'><input type='checkbox'>Interactive</label>
              <label class='checkbox'><input type='checkbox'>Interview/Survey</label>
              <label class='checkbox'><input type='checkbox'>Interviews</label>
              <label class='checkbox'><input type='checkbox'>Introduction</label>
              <label class='checkbox'><input type='checkbox'>Journaling </label>
              <label class='checkbox'><input type='checkbox'>Kinesthetic</label>
              <label class='checkbox'><input type='checkbox'>Laboratory</label>
              <label class='checkbox'><input type='checkbox'>Lecture</label>
              <label class='checkbox'><input type='checkbox'>Metaphors</label>
              <label class='checkbox'><input type='checkbox'>Model & Simulation</label>
              <label class='checkbox'><input type='checkbox'>Musical</label>
              <label class='checkbox'><input type='checkbox'>Nonlinguistic </label>
              <label class='checkbox'><input type='checkbox'>Note taking </label>
              <label class='checkbox'><input type='checkbox'>Peer Coaching</label>
              <label class='checkbox'><input type='checkbox'>Peer Response</label>
              <label class='checkbox'><input type='checkbox'>Play</label>
              <label class='checkbox'><input type='checkbox'>Presentation</label>
            </div>
            <div class='span2'>
              <label class='checkbox'><input type='checkbox'>Problem Solving</label>
              <label class='checkbox'><input type='checkbox'>Problem Based</label>
              <label class='checkbox'><input type='checkbox'>Project</label>
              <label class='checkbox'><input type='checkbox'>Questioning </label>
              <label class='checkbox'><input type='checkbox'>Reading</label>
              <label class='checkbox'><input type='checkbox'>Reciprocal Teaching </label>
              <label class='checkbox'><input type='checkbox'>Reflection</label>
              <label class='checkbox'><input type='checkbox'>Reinforcement</label>
              <label class='checkbox'><input type='checkbox'>Research</label>
              <label class='checkbox'><input type='checkbox'>Review</label>
              <label class='checkbox'><input type='checkbox'>Role Playing</label>
              <label class='checkbox'><input type='checkbox'>Service Learning </label>
              <label class='checkbox'><input type='checkbox'>Simulations</label>
              <label class='checkbox'><input type='checkbox'>Summarizing </label>
              <label class='checkbox'><input type='checkbox'>Technology </label>
              <label class='checkbox'><input type='checkbox'>Testing Hypotheses</label>
              <label class='checkbox'><input type='checkbox'>Thematic Instruction </label>
              <label class='checkbox'><input type='checkbox'>Visual/Spatial</label>
              <label class='checkbox'><input type='checkbox'>Word Association</label>
              <label class='checkbox'><input type='checkbox'>Writing</label>
            </div>
          </div>
        </div>
      </div>
    </li>
    <span id="">
    </span>
  </ul>




  <!-- #TODO I HATE THAT THIS IS DONE WITH TABLES -->
  <!--table class="table" id="filterFields">
    <tr>
      <td>
        <strong>FILTER YOUR RESULTS</strong>
      </td>
    </tr>
    <tr>
      <td>
      </td>
    </tr>
    <tr>
      <td id="filter1" class='filters'>

      </td>
    </tr>
    <tr>
      <td id="flyoutLabel2" rel="popover" data-title="Educational Use" onmouseover="flyoutLabelMouseOver(flyoutLabel2);" onmouseout="flyoutLabelMouseOut(flyoutLabel2);">
        Educational Use <i class="icon-chevron-right icon-white pull-right"/>
      </td>
    </tr>
    <tr>
      <td id="filter2" class='filters'>

      </td>
    </tr>
    <tr>
      <td id="flyoutLabel3" rel="popover" data-title="Typical Age Range" onmouseover="flyoutLabelMouseOver(flyoutLabel3);" onmouseout="flyoutLabelMouseOut(flyoutLabel3);">
        Typical Age Range <i class="icon-chevron-right icon-white pull-right"/>
      </td>
    </tr>
    <tr>
      <td id="filter3" class='filters'>

      </td>
    </tr>
    <tr>
      <td id="flyoutLabel4" rel="popover" data-title="Interactivity Type" onmouseover="flyoutLabelMouseOver(flyoutLabel4);" onmouseout="flyoutLabelMouseOut(flyoutLabel4);">
        Interactivity Type <i class="icon-chevron-right icon-white pull-right"/>
      </td>
    </tr>
    <tr>
      <td id="filter4" class='filters'>

      </td>
    </tr>
    <tr>
      <td id="flyoutLabel5" rel="popover" data-title="Learning Resource Type" onmouseover="flyoutLabelMouseOver(flyoutLabel5);" onmouseout="flyoutLabelMouseOut(flyoutLabel5);">
        Learning Resource Type <i class="icon-chevron-right icon-white pull-right"/>
      </td>
    </tr>
    <tr>
      <td id="filter5" class='filters'>

      </td>
    </tr>
    <tr>
      <td id="flyoutLabel6" rel="popover" data-title="Media Type" onmouseover="flyoutLabelMouseOver(flyoutLabel6);" onmouseout="flyoutLabelMouseOut(flyoutLabel6);">
        Media Type <i class="icon-chevron-right icon-white pull-right"/>
      </td>
    </tr>
    <tr>
      <td id="filter6" class='filters'>

      </td>
    </tr>
    <tr>
      <td>
        Publisher
        <input type="text" name="publisherInput" id="publisherInput">
      </td>
    </tr>
    <tr>
      <td>
        Dot Notation
        <input type="text" name="dotNotationInput" id="dotNotationInput">
      </td>
    </tr>
  </table-->

  <div id="resultsPane">

  </div>

  <div id="popoverflyoutLabel1" style="display: none">
    <div>This is your div content</div>
  </div>

  <div id="popoverflyoutLabel2" style="display: none">
    <div>This is your div content</div>
  </div>

  <div id="popoverflyoutLabel3" style="display: none">
    <div>This is your div content</div>
  </div>

  <div id="popoverflyoutLabel4" style="display: none">
    <div>This is your div content</div>
  </div>

  <div id="popoverflyoutLabel5" style="display: none">
    <div>This is your div content</div>
  </div>

  <div id="popoverflyoutLabel6" style="display: none">
    <div>This is your div content</div>
  </div>


</div>

<%= render :partial => 'home/slc/footer' %>
