<%= render :partial => 'home/slc/header' %>

<div class='container-fluid'>
  <%= render :partial => 'navbar' %>

  <table class="table" style="border:0px;" id="searchBody">
    <tr class="warning">
      <td class='left-column'>
        <div id="resultStats">
          &nbsp;
        </div>
      </td>
      <td class='main-column'>
        <input type="text" name="searchInput" id="searchInput" placeholder="Enter Search Query...">
        <button class="btn" id="searchButton">Search</button>

        <select class='pull-right' id='paginationLimit'>
          <option value='10'>Show 10 Results</option>
          <option value='25'>Show 25 Results</option>
          <option value='50'>Show 50 Results</option>
          <option value='100'>Show 100 Results</option>
        </select>
      </td>
    </tr>
  </table>

  <ul id='filterFields' class='nav nav-tabs nav-stacked' role='menu'>
    <li>
      <a href="#" rel='popovers' data-original-title='Intended End User Role'>Intended End User Role <i class="icon-chevron-right icon-white pull-right"></i></a>
      <div class='flyout'>
        <div class='items endUserFilters'>
          <label class='checkbox'><input type='checkbox' value='end001'>Administrator</label>
          <label class='checkbox'><input type='checkbox' value='end002'>Mentor</label>
          <label class='checkbox'><input type='checkbox' value='end003'>Parent</label>
          <label class='checkbox'><input type='checkbox' value='end004'>Peer Tutor</label>
          <label class='checkbox'><input type='checkbox' value='end005'>Specialist</label>
          <label class='checkbox'><input type='checkbox' value='end006'>Student</label>
          <label class='checkbox'><input type='checkbox' value='end007'>Teacher</label>
          <label class='checkbox'><input type='checkbox' value='end008'>Team</label>
        </div>
      </div>
    </li>
    <span id="endUserFilters">
    </span>

    <li>
      <a href="#" rel='popovers' data-original-title='Typical Age Range'>Typical Age Range <i class="icon-chevron-right icon-white pull-right"></i></a>
      <div class='flyout'>
        <div class='items ageRangeFilters'>
          <label class='checkbox'><input type='checkbox' value='aR001'>0-2</label>
          <label class='checkbox'><input type='checkbox' value='aR002'>3-5</label>
          <label class='checkbox'><input type='checkbox' value='aR003'>5-8</label>
          <label class='checkbox'><input type='checkbox' value='aR004'>8-10</label>
          <label class='checkbox'><input type='checkbox' value='aR005'>10-12</label>
          <label class='checkbox'><input type='checkbox' value='aR006'>12-14</label>
          <label class='checkbox'><input type='checkbox' value='aR007'>14-16</label>
          <label class='checkbox'><input type='checkbox' value='aR008'>16-18</label>
          <label class='checkbox'><input type='checkbox' value='aR009'>18+</label>
        </div>
      </div>
    </li>
    <span id="ageRangeFilters">
    </span>

    <li>
      <a href="#" rel='popovers' data-original-title='Educational Use'>Educational Use <i class="icon-chevron-right icon-white pull-right"></i></a>
      <div class='flyout'>
        <div class='items span6 educationalUseFilters'>
          <div class='row'>
            <div class='span2'>
              <label class='checkbox'><input type='checkbox' value='eU001'>Activity</label>
              <label class='checkbox'><input type='checkbox' value='eU002'>Analogies</label>
              <label class='checkbox'><input type='checkbox' value='eU003'>Assessment</label>
              <label class='checkbox'><input type='checkbox' value='eU004'>Auditory</label>
              <label class='checkbox'><input type='checkbox' value='eU005'>Brainstorming</label>
              <label class='checkbox'><input type='checkbox' value='eU006'>Classifying</label>
              <label class='checkbox'><input type='checkbox' value='eU007'>Comparing</label>
              <label class='checkbox'><input type='checkbox' value='eU008'>Cooperative Learning</label>
              <label class='checkbox'><input type='checkbox' value='eU009'>Creative Response</label>
              <label class='checkbox'><input type='checkbox' value='eU010'>Demonstration</label>
              <label class='checkbox'><input type='checkbox' value='eU011'>Differentiation </label>
              <label class='checkbox'><input type='checkbox' value='eU012'>Discovery Learning</label>
              <label class='checkbox'><input type='checkbox' value='eU013'>Discussion/Debate</label>
              <label class='checkbox'><input type='checkbox' value='eU014'>Drill & Practice</label>
              <label class='checkbox'><input type='checkbox' value='eU015'>Experiential</label>
              <label class='checkbox'><input type='checkbox' value='eU016'>Field Trip</label>
              <label class='checkbox'><input type='checkbox' value='eU017'>Game</label>
              <label class='checkbox'><input type='checkbox' value='eU018'>Generating hypotheses</label>
              <label class='checkbox'><input type='checkbox' value='eU019'>Guided questions </label>
              <label class='checkbox'><input type='checkbox' value='eU020'>Hands-on</label>
            </div>
            <div class='span2'>
              <label class='checkbox'><input type='checkbox' value='eU021'>Homework</label>
              <label class='checkbox'><input type='checkbox' value='eU022'>Identify similarities & differences</label>
              <label class='checkbox'><input type='checkbox' value='eU023'>Inquiry</label>
              <label class='checkbox'><input type='checkbox' value='eU024'>Interactive</label>
              <label class='checkbox'><input type='checkbox' value='eU025'>Interview/Survey</label>
              <label class='checkbox'><input type='checkbox' value='eU026'>Interviews</label>
              <label class='checkbox'><input type='checkbox' value='eU027'>Introduction</label>
              <label class='checkbox'><input type='checkbox' value='eU028'>Journaling </label>
              <label class='checkbox'><input type='checkbox' value='eU029'>Kinesthetic</label>
              <label class='checkbox'><input type='checkbox' value='eU030'>Laboratory</label>
              <label class='checkbox'><input type='checkbox' value='eU031'>Lecture</label>
              <label class='checkbox'><input type='checkbox' value='eU032'>Metaphors</label>
              <label class='checkbox'><input type='checkbox' value='eU033'>Model & Simulation</label>
              <label class='checkbox'><input type='checkbox' value='eU034'>Musical</label>
              <label class='checkbox'><input type='checkbox' value='eU035'>Nonlinguistic </label>
              <label class='checkbox'><input type='checkbox' value='eU036'>Note taking </label>
              <label class='checkbox'><input type='checkbox' value='eU037'>Peer Coaching</label>
              <label class='checkbox'><input type='checkbox' value='eU038'>Peer Response</label>
              <label class='checkbox'><input type='checkbox' value='eU039'>Play</label>
              <label class='checkbox'><input type='checkbox' value='eU040'>Presentation</label>
            </div>
            <div class='span2'>
              <label class='checkbox'><input type='checkbox' value='eU041'>Problem Solving</label>
              <label class='checkbox'><input type='checkbox' value='eU042'>Problem Based</label>
              <label class='checkbox'><input type='checkbox' value='eU043'>Project</label>
              <label class='checkbox'><input type='checkbox' value='eU044'>Questioning </label>
              <label class='checkbox'><input type='checkbox' value='eU045'>Reading</label>
              <label class='checkbox'><input type='checkbox' value='eU046'>Reciprocal Teaching </label>
              <label class='checkbox'><input type='checkbox' value='eU047'>Reflection</label>
              <label class='checkbox'><input type='checkbox' value='eU048'>Reinforcement</label>
              <label class='checkbox'><input type='checkbox' value='eU049'>Research</label>
              <label class='checkbox'><input type='checkbox' value='eU050'>Review</label>
              <label class='checkbox'><input type='checkbox' value='eU051'>Role Playing</label>
              <label class='checkbox'><input type='checkbox' value='eU052'>Service Learning </label>
              <label class='checkbox'><input type='checkbox' value='eU053'>Simulations</label>
              <label class='checkbox'><input type='checkbox' value='eU054'>Summarizing </label>
              <label class='checkbox'><input type='checkbox' value='eU055'>Technology </label>
              <label class='checkbox'><input type='checkbox' value='eU056'>Testing Hypotheses</label>
              <label class='checkbox'><input type='checkbox' value='eU057'>Thematic Instruction </label>
              <label class='checkbox'><input type='checkbox' value='eU058'>Visual/Spatial</label>
              <label class='checkbox'><input type='checkbox' value='eU059'>Word Association</label>
              <label class='checkbox'><input type='checkbox' value='eU060'>Writing</label>
            </div>
          </div>
        </div>
      </div>
    </li>
    <span id="educationalUseFilters">
    </span>

    <li>
      <a href="#" rel='popovers' data-original-title='Interactivity Type'>Interactivity Type <i class="icon-chevron-right icon-white pull-right"></i></a>
      <div class='flyout'>
        <div class='items interactivityTypeFilters'>
          <label class='checkbox'><input type='checkbox' value='iT001'>Active</label>
          <label class='checkbox'><input type='checkbox' value='iT002'>Expositive</label>
          <label class='checkbox'><input type='checkbox' value='iT003'>Mixed</label>
        </div>
      </div>
    </li>
    <span id="interactivityTypeFilters">
    </span>

    <li>
      <a href="#" rel='popovers' data-original-title='Learning Resource Type'>Learning Resource Type <i class="icon-chevron-right icon-white pull-right"></i></a>
      <div class='flyout'>
        <div class='items span4 learningResourceFilters'>
          <div class='row'>
            <div class='span2'>
              <label class='checkbox'><input type='checkbox' value='lR001'>Activity</label>
              <label class='checkbox'><input type='checkbox' value='lR002'>Assessment</label>
              <label class='checkbox'><input type='checkbox' value='lR003'>Audio</label>
              <label class='checkbox'><input type='checkbox' value='lR004'>Broadcast</label>
              <label class='checkbox'><input type='checkbox' value='lR005'>Calculator</label>
              <label class='checkbox'><input type='checkbox' value='lR006'>Discussion</label>
              <label class='checkbox'><input type='checkbox' value='lR007'>E-Mail</label>
              <label class='checkbox'><input type='checkbox' value='lR008'>Field Trip</label>
              <label class='checkbox'><input type='checkbox' value='lR009'>Hands-on</label>
              <label class='checkbox'><input type='checkbox' value='lR010'>In-Person/Speaker</label>
              <label class='checkbox'><input type='checkbox' value='lR011'>Kinesthetic</label>
              <label class='checkbox'><input type='checkbox' value='lR012'>Lab Material (Printed Activities - Instruments - Samples...)</label>
              <label class='checkbox'><input type='checkbox' value='lR013'>Lesson Plan</label>
            </div>
            <div class='span2'>
              <label class='checkbox'><input type='checkbox' value='lR014'>Manipulative</label>
              <label class='checkbox'><input type='checkbox' value='lR015'>MBL (Microcomputer Based)</label>
              <label class='checkbox'><input type='checkbox' value='lR016'>Model</label>
              <label class='checkbox'><input type='checkbox' value='lR018'>On-Line</label>
              <label class='checkbox'><input type='checkbox' value='lR019'>Podcast</label>
              <label class='checkbox'><input type='checkbox' value='lR020'>Presentation</label>
              <label class='checkbox'><input type='checkbox' value='lR021'>Printed</label>
              <label class='checkbox'><input type='checkbox' value='lR022'>Quiz</label>
              <label class='checkbox'><input type='checkbox' value='lR023'>Robotics</label>
              <label class='checkbox'><input type='checkbox' value='lR024'>Still Image</label>
              <label class='checkbox'><input type='checkbox' value='lR025'>Test</label>
              <label class='checkbox'><input type='checkbox' value='lR026'>Video</label>
              <label class='checkbox'><input type='checkbox' value='lR027'>Wiki</label>
              <label class='checkbox'><input type='checkbox' value='lR028'>Worksheet</label>
            </div>
          </div>
        </div>
      </div>
    </li>
    <span id="learningResourceFilters">
    </span>

    <li>
      <a href="#" rel='popovers' data-original-title='Media Type'>Media Type <i class="icon-chevron-right icon-white pull-right"></i></a>
      <div class='flyout'>
        <div class='items span6 mediaTypeFilters'>
          <div class='row'>
            <div class='span2'>
              <label class='checkbox'><input type='checkbox' value='mT001'>Audio CD</label>
              <label class='checkbox'><input type='checkbox' value='mT002'>Audiotape</label>
              <label class='checkbox'><input type='checkbox' value='mT003'>Calculator</label>
              <label class='checkbox'><input type='checkbox' value='mT004'>CD-I</label>
              <label class='checkbox'><input type='checkbox' value='mT005'>CD-ROM</label>
              <label class='checkbox'><input type='checkbox' value='mT006'>Diskette</label>
              <label class='checkbox'><input type='checkbox' value='mT007'>Duplication Master</label>
              <label class='checkbox'><input type='checkbox' value='mT008'>DVD/ Blu-ray</label>
              <label class='checkbox'><input type='checkbox' value='mT009'>E-Mail</label>
              <label class='checkbox'><input type='checkbox' value='mT010'>Electronic Slides</label>
              <label class='checkbox'><input type='checkbox' value='mT011'>Field Trip</label>
              <label class='checkbox'><input type='checkbox' value='mT012'>Filmstrip</label>
              <label class='checkbox'><input type='checkbox' value='mT013'>Flash</label>
            </div>
            <div class='span2'>
              <label class='checkbox'><input type='checkbox' value='mT014'>Image</label>
              <label class='checkbox'><input type='checkbox' value='mT015'>In-Person/Speaker</label>
              <label class='checkbox'><input type='checkbox' value='mT016'>Interactive Whiteboard</label>
              <label class='checkbox'><input type='checkbox' value='mT017'>Manipulative</label>
              <label class='checkbox'><input type='checkbox' value='mT018'>MBL (Microcomputer Based)</label>
              <label class='checkbox'><input type='checkbox' value='mT019'>Microfiche</label>
              <label class='checkbox'><input type='checkbox' value='mT020'>Overhead</label>
              <label class='checkbox'><input type='checkbox' value='mT021'>Pamphlet</label>
              <label class='checkbox'><input type='checkbox' value='mT022'>PDF</label>
              <label class='checkbox'><input type='checkbox' value='mT023'>Person-to-Person</label>
              <label class='checkbox'><input type='checkbox' value='mT024'>Phonograph Record</label>
              <label class='checkbox'><input type='checkbox' value='mT025'>Photo</label>
            </div>
            <div class='span2'>
              <label class='checkbox'><input type='checkbox' value='mT026'>Podcast</label>
              <label class='checkbox'><input type='checkbox' value='mT027'>Printed</label>
              <label class='checkbox'><input type='checkbox' value='mT028'>Radio</label>
              <label class='checkbox'><input type='checkbox' value='mT029'>Robotics</label>
              <label class='checkbox'><input type='checkbox' value='mT030'>Satellite</label>
              <label class='checkbox'><input type='checkbox' value='mT031'>Slides</label>
              <label class='checkbox'><input type='checkbox' value='mT032'>Television</label>
              <label class='checkbox'><input type='checkbox' value='mT033'>Transparency</label>
              <label class='checkbox'><input type='checkbox' value='mT034'>Video Conference</label>
              <label class='checkbox'><input type='checkbox' value='mT035'>Videodisc</label>
              <label class='checkbox'><input type='checkbox' value='mT036'>Webpage</label>
              <label class='checkbox'><input type='checkbox' value='mT037'>Wiki</label>
            </div>
          </div>
        </div>
      </div>
    </li>
    <span id="mediaTypeFilters">
    </span>
  </ul>

  <div id="resultsPane">

  </div>

</div>

<%= render :partial => 'home/slc/footer' %>
