<%= render :partial => 'home/slc/header' %>

<div class='container-fluid'>
  <%= render :partial => 'navbar' %>

  <table class="table" style="border:0px;" id="searchBody">
    <tr class="warning">
      <td class='left-column'>
        <div id="resultStats">
          &nbsp;
        </div>
      </td>
      <td class='main-column'>
        <input type="text" name="searchInput" id="searchInput" placeholder="Enter Search Query...">
        <button class="btn" id="searchButton">Search</button>

        <select class='pull-right' id='paginationLimit'>
          <option value='10'>Show 10 Results</option>
          <option value='25'>Show 25 Results</option>
          <option value='50'>Show 50 Results</option>
          <option value='100'>Show 100 Results</option>
        </select>

        <span class='showing-text pull-right'> </span>
      </td>
    </tr>
  </table>

  <ul id='filterFields' class='nav nav-tabs nav-stacked' role='menu'>
    <li>
      <a href="#" rel='popovers' data-original-title='Intended End User Role'>Intended End User Role <i class="icon-chevron-right icon-white pull-right"></i></a>
      <div class='flyout'>
        <div class='items span2 endUserFilters'>
          <label class='checkbox'><input type='checkbox' name='intendedEndUserRole[Administrator]' value='end001'>Administrator</label>
          <label class='checkbox'><input type='checkbox' name='intendedEndUserRole[Mentor]' value='end002'>Mentor</label>
          <label class='checkbox'><input type='checkbox' name='intendedEndUserRole[Parent]' value='end003'>Parent</label>
          <label class='checkbox'><input type='checkbox' name='intendedEndUserRole[Peer Tutor]' value='end004'>Peer Tutor</label>
          <label class='checkbox'><input type='checkbox' name='intendedEndUserRole[Specialist]' value='end005'>Specialist</label>
          <label class='checkbox'><input type='checkbox' name='intendedEndUserRole[Student]' value='end006'>Student</label>
          <label class='checkbox'><input type='checkbox' name='intendedEndUserRole[Teacher]' value='end007'>Teacher</label>
          <label class='checkbox'><input type='checkbox' name='intendedEndUserRole[Team]' value='end008'>Team</label>
        </div>
      </div>
    </li>
    <span id="endUserFilters">
    </span>

    <li>
      <a href="#" rel='popovers' data-original-title='Typical Age Range'>Typical Age Range <i class="icon-chevron-right icon-white pull-right"></i></a>
      <div class='flyout'>
        <div class='items span2 ageRangeFilters'>
          <label class='checkbox'><input type='checkbox' name='typicalAgeRange[0-2]' value='aR001'>0-2</label>
          <label class='checkbox'><input type='checkbox' name='typicalAgeRange[3-5]' value='aR002'>3-5</label>
          <label class='checkbox'><input type='checkbox' name='typicalAgeRange[5-8]' value='aR003'>5-8</label>
          <label class='checkbox'><input type='checkbox' name='typicalAgeRange[8-10]' value='aR004'>8-10</label>
          <label class='checkbox'><input type='checkbox' name='typicalAgeRange[10-12]' value='aR005'>10-12</label>
          <label class='checkbox'><input type='checkbox' name='typicalAgeRange[12-14]' value='aR006'>12-14</label>
          <label class='checkbox'><input type='checkbox' name='typicalAgeRange[14-16]' value='aR007'>14-16</label>
          <label class='checkbox'><input type='checkbox' name='typicalAgeRange[16-18]' value='aR008'>16-18</label>
          <label class='checkbox'><input type='checkbox' name='typicalAgeRange[18+]' value='aR009'>18+</label>
        </div>
      </div>
    </li>
    <span id="ageRangeFilters">
    </span>

    <li>
      <a href="#" rel='popovers' data-original-title='Educational Use'>Educational Use <i class="icon-chevron-right icon-white pull-right"></i></a>
      <div class='flyout'>
        <div class='items span6 educationalUseFilters'>
          <div class='row'>
            <div class='span2'>
              <label class='checkbox'><input type='checkbox' name='educationalUse[Activity]' value='eU001'>Activity</label>
              <label class='checkbox'><input type='checkbox' name='educationalUse[Analogies]' value='eU002'>Analogies</label>
              <label class='checkbox'><input type='checkbox' name='educationalUse[Assessment]' value='eU003'>Assessment</label>
              <label class='checkbox'><input type='checkbox' name='educationalUse[Auditory]' value='eU004'>Auditory</label>
              <label class='checkbox'><input type='checkbox' name='educationalUse[Brainstorming]' value='eU005'>Brainstorming</label>
              <label class='checkbox'><input type='checkbox' name='educationalUse[Classifying]' value='eU006'>Classifying</label>
              <label class='checkbox'><input type='checkbox' name='educationalUse[Comparing]' value='eU007'>Comparing</label>
              <label class='checkbox'><input type='checkbox' name='educationalUse[Cooperative Learning]' value='eU008'>Cooperative Learning</label>
              <label class='checkbox'><input type='checkbox' name='educationalUse[Creative Response]' value='eU009'>Creative Response</label>
              <label class='checkbox'><input type='checkbox' name='educationalUse[Demonstration]' value='eU010'>Demonstration</label>
              <label class='checkbox'><input type='checkbox' name='educationalUse[Differentiation ]' value='eU011'>Differentiation </label>
              <label class='checkbox'><input type='checkbox' name='educationalUse[Discovery Learning]' value='eU012'>Discovery Learning</label>
              <label class='checkbox'><input type='checkbox' name='educationalUse[Discussion/Debate]' value='eU013'>Discussion/Debate</label>
              <label class='checkbox'><input type='checkbox' name='educationalUse[Drill & Practice]' value='eU014'>Drill & Practice</label>
              <label class='checkbox'><input type='checkbox' name='educationalUse[Experiential]' value='eU015'>Experiential</label>
              <label class='checkbox'><input type='checkbox' name='educationalUse[Field Trip]' value='eU016'>Field Trip</label>
              <label class='checkbox'><input type='checkbox' name='educationalUse[Game]' value='eU017'>Game</label>
              <label class='checkbox'><input type='checkbox' name='educationalUse[Generating hypotheses]' value='eU018'>Generating hypotheses</label>
              <label class='checkbox'><input type='checkbox' name='educationalUse[Guided questions ]' value='eU019'>Guided questions </label>
              <label class='checkbox'><input type='checkbox' name='educationalUse[Hands-on]' value='eU020'>Hands-on</label>
            </div>
            <div class='span2'>
              <label class='checkbox'><input type='checkbox' name='educationalUse[Homework]' value='eU021'>Homework</label>
              <label class='checkbox'><input type='checkbox' name='educationalUse[Identify similarities & differences]' value='eU022'>Identify similarities & differences</label>
              <label class='checkbox'><input type='checkbox' name='educationalUse[Inquiry]' value='eU023'>Inquiry</label>
              <label class='checkbox'><input type='checkbox' name='educationalUse[Interactive]' value='eU024'>Interactive</label>
              <label class='checkbox'><input type='checkbox' name='educationalUse[Interview/Survey]' value='eU025'>Interview/Survey</label>
              <label class='checkbox'><input type='checkbox' name='educationalUse[Interviews]' value='eU026'>Interviews</label>
              <label class='checkbox'><input type='checkbox' name='educationalUse[Introduction]' value='eU027'>Introduction</label>
              <label class='checkbox'><input type='checkbox' name='educationalUse[Journaling ]' value='eU028'>Journaling </label>
              <label class='checkbox'><input type='checkbox' name='educationalUse[Kinesthetic]' value='eU029'>Kinesthetic</label>
              <label class='checkbox'><input type='checkbox' name='educationalUse[Laboratory]' value='eU030'>Laboratory</label>
              <label class='checkbox'><input type='checkbox' name='educationalUse[Lecture]' value='eU031'>Lecture</label>
              <label class='checkbox'><input type='checkbox' name='educationalUse[Metaphors]' value='eU032'>Metaphors</label>
              <label class='checkbox'><input type='checkbox' name='educationalUse[Model & Simulation]' value='eU033'>Model & Simulation</label>
              <label class='checkbox'><input type='checkbox' name='educationalUse[Musical]' value='eU034'>Musical</label>
              <label class='checkbox'><input type='checkbox' name='educationalUse[Nonlinguistic ]' value='eU035'>Nonlinguistic </label>
              <label class='checkbox'><input type='checkbox' name='educationalUse[Note taking ]' value='eU036'>Note taking </label>
              <label class='checkbox'><input type='checkbox' name='educationalUse[Peer Coaching]' value='eU037'>Peer Coaching</label>
              <label class='checkbox'><input type='checkbox' name='educationalUse[Peer Response]' value='eU038'>Peer Response</label>
              <label class='checkbox'><input type='checkbox' name='educationalUse[Play]' value='eU039'>Play</label>
              <label class='checkbox'><input type='checkbox' name='educationalUse[Presentation]' value='eU040'>Presentation</label>
            </div>
            <div class='span2'>
              <label class='checkbox'><input type='checkbox' name='educationalUse[Problem Solving]' value='eU041'>Problem Solving</label>
              <label class='checkbox'><input type='checkbox' name='educationalUse[Problem Based]' value='eU042'>Problem Based</label>
              <label class='checkbox'><input type='checkbox' name='educationalUse[Project]' value='eU043'>Project</label>
              <label class='checkbox'><input type='checkbox' name='educationalUse[Questioning ]' value='eU044'>Questioning </label>
              <label class='checkbox'><input type='checkbox' name='educationalUse[Reading]' value='eU045'>Reading</label>
              <label class='checkbox'><input type='checkbox' name='educationalUse[Reciprocal Teaching ]' value='eU046'>Reciprocal Teaching </label>
              <label class='checkbox'><input type='checkbox' name='educationalUse[Reflection]' value='eU047'>Reflection</label>
              <label class='checkbox'><input type='checkbox' name='educationalUse[Reinforcement]' value='eU048'>Reinforcement</label>
              <label class='checkbox'><input type='checkbox' name='educationalUse[Research]' value='eU049'>Research</label>
              <label class='checkbox'><input type='checkbox' name='educationalUse[Review]' value='eU050'>Review</label>
              <label class='checkbox'><input type='checkbox' name='educationalUse[Role Playing]' value='eU051'>Role Playing</label>
              <label class='checkbox'><input type='checkbox' name='educationalUse[Service Learning ]' value='eU052'>Service Learning </label>
              <label class='checkbox'><input type='checkbox' name='educationalUse[Simulations]' value='eU053'>Simulations</label>
              <label class='checkbox'><input type='checkbox' name='educationalUse[Summarizing ]' value='eU054'>Summarizing </label>
              <label class='checkbox'><input type='checkbox' name='educationalUse[Technology ]' value='eU055'>Technology </label>
              <label class='checkbox'><input type='checkbox' name='educationalUse[Testing Hypotheses]' value='eU056'>Testing Hypotheses</label>
              <label class='checkbox'><input type='checkbox' name='educationalUse[Thematic Instruction ]' value='eU057'>Thematic Instruction </label>
              <label class='checkbox'><input type='checkbox' name='educationalUse[Visual/Spatial]' value='eU058'>Visual/Spatial</label>
              <label class='checkbox'><input type='checkbox' name='educationalUse[Word Association]' value='eU059'>Word Association</label>
              <label class='checkbox'><input type='checkbox' name='educationalUse[Writing]' value='eU060'>Writing</label>
            </div>
          </div>
        </div>
      </div>
    </li>
    <span id="educationalUseFilters">
    </span>

    <li>
      <a href="#" rel='popovers' data-original-title='Interactivity Type'>Interactivity Type <i class="icon-chevron-right icon-white pull-right"></i></a>
      <div class='flyout'>
        <div class='items span2 interactivityTypeFilters'>
          <label class='checkbox'><input type='checkbox' name='interactivityType[Active]' value='iT001'>Active</label>
          <label class='checkbox'><input type='checkbox' name='interactivityType[Expositive]' value='iT002'>Expositive</label>
          <label class='checkbox'><input type='checkbox' name='interactivityType[Mixed]' value='iT003'>Mixed</label>
        </div>
      </div>
    </li>
    <span id="interactivityTypeFilters">
    </span>

    <li>
      <a href="#" rel='popovers' data-original-title='Learning Resource Type'>Learning Resource Type <i class="icon-chevron-right icon-white pull-right"></i></a>
      <div class='flyout'>
        <div class='items span4 learningResourceFilters'>
          <div class='row'>
            <div class='span2'>
              <label class='checkbox'><input type='checkbox' name='learningResourceType[Activity]' value='lR001'>Activity</label>
              <label class='checkbox'><input type='checkbox' name='learningResourceType[Assessment]' value='lR002'>Assessment</label>
              <label class='checkbox'><input type='checkbox' name='learningResourceType[Audio]' value='lR003'>Audio</label>
              <label class='checkbox'><input type='checkbox' name='learningResourceType[Broadcast]' value='lR004'>Broadcast</label>
              <label class='checkbox'><input type='checkbox' name='learningResourceType[Calculator]' value='lR005'>Calculator</label>
              <label class='checkbox'><input type='checkbox' name='learningResourceType[Discussion]' value='lR006'>Discussion</label>
              <label class='checkbox'><input type='checkbox' name='learningResourceType[E-Mail]' value='lR007'>E-Mail</label>
              <label class='checkbox'><input type='checkbox' name='learningResourceType[Field Trip]' value='lR008'>Field Trip</label>
              <label class='checkbox'><input type='checkbox' name='learningResourceType[Hands-on]' value='lR009'>Hands-on</label>
              <label class='checkbox'><input type='checkbox' name='learningResourceType[In-Person/Speaker]' value='lR010'>In-Person/Speaker</label>
              <label class='checkbox'><input type='checkbox' name='learningResourceType[Kinesthetic]' value='lR011'>Kinesthetic</label>
              <label class='checkbox'><input type='checkbox' name='learningResourceType[Lab Material (Printed Activities - Instruments - Samples...)]' value='lR012'>Lab Material (Printed Activities - Instruments - Samples...)</label>
              <label class='checkbox'><input type='checkbox' name='learningResourceType[Lesson Plan]' value='lR013'>Lesson Plan</label>
            </div>
            <div class='span2'>
              <label class='checkbox'><input type='checkbox' name='learningResourceType[Manipulative]' value='lR014'>Manipulative</label>
              <label class='checkbox'><input type='checkbox' name='learningResourceType[MBL (Microcomputer Based)]' value='lR015'>MBL (Microcomputer Based)</label>
              <label class='checkbox'><input type='checkbox' name='learningResourceType[Model]' value='lR016'>Model</label>
              <label class='checkbox'><input type='checkbox' name='learningResourceType[On-Line]' value='lR018'>On-Line</label>
              <label class='checkbox'><input type='checkbox' name='learningResourceType[Podcast]' value='lR019'>Podcast</label>
              <label class='checkbox'><input type='checkbox' name='learningResourceType[Presentation]' value='lR020'>Presentation</label>
              <label class='checkbox'><input type='checkbox' name='learningResourceType[Printed]' value='lR021'>Printed</label>
              <label class='checkbox'><input type='checkbox' name='learningResourceType[Quiz]' value='lR022'>Quiz</label>
              <label class='checkbox'><input type='checkbox' name='learningResourceType[Robotics]' value='lR023'>Robotics</label>
              <label class='checkbox'><input type='checkbox' name='learningResourceType[Still Image]' value='lR024'>Still Image</label>
              <label class='checkbox'><input type='checkbox' name='learningResourceType[Test]' value='lR025'>Test</label>
              <label class='checkbox'><input type='checkbox' name='learningResourceType[Video]' value='lR026'>Video</label>
              <label class='checkbox'><input type='checkbox' name='learningResourceType[Wiki]' value='lR027'>Wiki</label>
              <label class='checkbox'><input type='checkbox' name='learningResourceType[Worksheet]' value='lR028'>Worksheet</label>
            </div>
          </div>
        </div>
      </div>
    </li>
    <span id="learningResourceFilters">
    </span>

    <li>
      <a href="#" rel='popovers' data-original-title='Media Type'>Media Type <i class="icon-chevron-right icon-white pull-right"></i></a>
      <div class='flyout'>
        <div class='items span6 mediaTypeFilters'>
          <div class='row'>
            <div class='span2'>
              <label class='checkbox'><input type='checkbox' name='mediaType[Audio CD]' value='mT001'>Audio CD</label>
              <label class='checkbox'><input type='checkbox' name='mediaType[Audiotape]' value='mT002'>Audiotape</label>
              <label class='checkbox'><input type='checkbox' name='mediaType[Calculator]' value='mT003'>Calculator</label>
              <label class='checkbox'><input type='checkbox' name='mediaType[CD-I]' value='mT004'>CD-I</label>
              <label class='checkbox'><input type='checkbox' name='mediaType[CD-ROM]' value='mT005'>CD-ROM</label>
              <label class='checkbox'><input type='checkbox' name='mediaType[Diskette]' value='mT006'>Diskette</label>
              <label class='checkbox'><input type='checkbox' name='mediaType[Duplication Master]' value='mT007'>Duplication Master</label>
              <label class='checkbox'><input type='checkbox' name='mediaType[DVD/ Blu-ray]' value='mT008'>DVD/ Blu-ray</label>
              <label class='checkbox'><input type='checkbox' name='mediaType[E-Mail]' value='mT009'>E-Mail</label>
              <label class='checkbox'><input type='checkbox' name='mediaType[Electronic Slides]' value='mT010'>Electronic Slides</label>
              <label class='checkbox'><input type='checkbox' name='mediaType[Field Trip]' value='mT011'>Field Trip</label>
              <label class='checkbox'><input type='checkbox' name='mediaType[Filmstrip]' value='mT012'>Filmstrip</label>
              <label class='checkbox'><input type='checkbox' name='mediaType[Flash]' value='mT013'>Flash</label>
            </div>
            <div class='span2'>
              <label class='checkbox'><input type='checkbox' name='mediaType[Image]' value='mT014'>Image</label>
              <label class='checkbox'><input type='checkbox' name='mediaType[In-Person/Speaker]' value='mT015'>In-Person/Speaker</label>
              <label class='checkbox'><input type='checkbox' name='mediaType[Interactive Whiteboard]' value='mT016'>Interactive Whiteboard</label>
              <label class='checkbox'><input type='checkbox' name='mediaType[Manipulative]' value='mT017'>Manipulative</label>
              <label class='checkbox'><input type='checkbox' name='mediaType[MBL (Microcomputer Based)]' value='mT018'>MBL (Microcomputer Based)</label>
              <label class='checkbox'><input type='checkbox' name='mediaType[Microfiche]' value='mT019'>Microfiche</label>
              <label class='checkbox'><input type='checkbox' name='mediaType[Overhead]' value='mT020'>Overhead</label>
              <label class='checkbox'><input type='checkbox' name='mediaType[Pamphlet]' value='mT021'>Pamphlet</label>
              <label class='checkbox'><input type='checkbox' name='mediaType[PDF]' value='mT022'>PDF</label>
              <label class='checkbox'><input type='checkbox' name='mediaType[Person-to-Person]' value='mT023'>Person-to-Person</label>
              <label class='checkbox'><input type='checkbox' name='mediaType[Phonograph Record]' value='mT024'>Phonograph Record</label>
              <label class='checkbox'><input type='checkbox' name='mediaType[Photo]' value='mT025'>Photo</label>
            </div>
            <div class='span2'>
              <label class='checkbox'><input type='checkbox' name='mediaType[Podcast]' value='mT026'>Podcast</label>
              <label class='checkbox'><input type='checkbox' name='mediaType[Printed]' value='mT027'>Printed</label>
              <label class='checkbox'><input type='checkbox' name='mediaType[Radio]' value='mT028'>Radio</label>
              <label class='checkbox'><input type='checkbox' name='mediaType[Robotics]' value='mT029'>Robotics</label>
              <label class='checkbox'><input type='checkbox' name='mediaType[Satellite]' value='mT030'>Satellite</label>
              <label class='checkbox'><input type='checkbox' name='mediaType[Slides]' value='mT031'>Slides</label>
              <label class='checkbox'><input type='checkbox' name='mediaType[Television]' value='mT032'>Television</label>
              <label class='checkbox'><input type='checkbox' name='mediaType[Transparency]' value='mT033'>Transparency</label>
              <label class='checkbox'><input type='checkbox' name='mediaType[Video Conference]' value='mT034'>Video Conference</label>
              <label class='checkbox'><input type='checkbox' name='mediaType[Videodisc]' value='mT035'>Videodisc</label>
              <label class='checkbox'><input type='checkbox' name='mediaType[Webpage]' value='mT036'>Webpage</label>
              <label class='checkbox'><input type='checkbox' name='mediaType[Wiki]' value='mT037'>Wiki</label>
            </div>
          </div>
        </div>
      </div>
    </li>
    <span id="mediaTypeFilters">
    </span>

    <li>
      <a href="#" rel='popovers' data-original-title='Group Type'>Group Type <i class="icon-chevron-right icon-white pull-right"></i></a>
      <div class='flyout'>
        <div class='items span4 groupTypeFilters'>
          <div class='row'>
            <div class='span2'>
              <label class='checkbox'><input type='checkbox' name='groupType[Class]' value='gT001'>Class</label>
              <label class='checkbox'><input type='checkbox' name='groupType[Community]' value='gT002'>Community</label>
              <label class='checkbox'><input type='checkbox' name='groupType[Grade]' value='gT003'>Grade</label>
              <label class='checkbox'><input type='checkbox' name='groupType[Group Large (6&plus; members)]' value='gT004'>Group Large (6&plus; members)</label>
              <label class='checkbox'><input type='checkbox' name='groupType[Group Small (3-5 members)]' value='gT005'>Group Small (3-5 members)</label>
            </div>
            <div class='span2'>
              <label class='checkbox'><input type='checkbox' name='groupType[Individual]' value='gT006'>Individual</label>
              <label class='checkbox'><input type='checkbox' name='groupType[Inter-Generational]' value='gT007'>Inter-Generational</label>
              <label class='checkbox'><input type='checkbox' name='groupType[Multiple Class]' value='gT008'>Multiple Class</label>
              <label class='checkbox'><input type='checkbox' name='groupType[Pair]' value='gT009'>Pair</label>
              <label class='checkbox'><input type='checkbox' name='groupType[School]' value='gT010'>School</label>
              <label class='checkbox'><input type='checkbox' name='groupType[State/Province]' value='gT011'>State/Province</label>
              <label class='checkbox'><input type='checkbox' name='groupType[World]' value='gT012'>World</label>
            </div>
          </div>
        </div>
      </div>
    </li>
    <span id="groupTypeFilters">
    </span>

    <li>
      <label>Publisher
        <input type='text' class='' placeholder='Publisher filter...' id='publisherFilter'>
      </label>
    </li>

    <li>
      <label>Dot Notation
        <input type='text' class='' placeholder='DotNotation filter...' id='dotNotationFilter'>
      </label>
    </li>

  </ul>

  <div id="resultsPane">

  </div>

</div>

<%= render :partial => 'home/slc/footer' %>
