<div class='container-fluid header'>

  <div class='pull-left logo'>
    <img src="/assets/sli_logo_icn.png" />
    Shared Learning Collaborative
  </div>

</div>

<div class='container-fluid header-title'>
  Search
</div>
